html,
body,
p {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(231, 231, 231);
}

.container {
  max-width: 1280px;
  margin: auto;
  background-color: white;
  border-radius: 60px 0 60px 60px;
}
.main-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* header */

header {
  max-width: 100%;
  background-color: rgb(40, 35, 61);
  border-radius: 60px 0 0 0;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

nav .openMenu,
nav .closeMenu {
  display: none;
  height: 28px;
}

nav .closeMenu {
  text-align: right;
}

nav .mainMenu {
  display: flex;
  justify-content: right;
  background-color: rgb(40, 35, 61);
  padding: 20px;
  margin: 0px;
}

nav .mainMenu li {
  list-style: none;
}

nav a {
  text-decoration: none;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

nav a:hover {
  color: rgb(252, 122, 0);
}

@media (max-width: 1000px) {
  nav .mainMenu {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 0px 0px 20px 20px;
  }
  nav .openMenu {
    display: block;
  }
  .main-container {
    flex-direction: column;
  }
}

main {
  margin: 20px;
  flex: 2;
  order: 2;
}
aside {
  flex: 1;
  order: 1;
  border-radius: 0 0 60px 60px;
  background-color: rgb(40, 35, 61);
  color: white;
  padding: 0px 50px;
  text-align: center;
}
figure.photo {
  margin: 0px;
}

figure img {
  border-radius: 50%;
}
figure figcaption {
  padding: 20px;
  font-size: 2rem;
}
h2 {
  display: inline;
}

.container-info {
  display: flex;
  flex-wrap: wrap;
}

.date,
.position {
  padding: 10px;
  text-align: left;
  flex: 1;
}

aside ul {
  list-style: none;
}
.fab,
.fas {
  color: sandybrown;
}

article.skills ul {
  display: inline-block;
  padding: 0px 40px;
}
aside a {
  color: white;
  text-decoration: none;
}
aside li {
  padding: 3px;
}
footer {
  width: 100%;
  order: 4;
  text-align: center;
  background-color: rgb(40, 35, 61);
  color: white;
  border-radius: 0 0 60px 60px;
}

footer ul li {
  display: inline-block;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer img {
  filter: invert(100%) brightness(119%) contrast(119%);
}

pre {
  padding: 20px;
}

.code {
  width: 100%;
  order: 3;
  text-align: center;
}

.code .completed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.example p {
  margin-bottom: 20px;
}

.javascript {
  background-color: rgb(221, 221, 221);
  max-width: 100vw;
}

.example img {
  min-width: 320px;
  max-width: 500px;
}
